.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    /* grid-template-columns: repeat(4, 1fr) 2fr; */
    grid-gap: 10px;
}
.grid-cell{
    border: 1px solid goldenrod;
    text-align: center;
}